# Python
__pycache__/
*.pyc

# Build artifacts
*.flatpak
AppDir/
flatpak-repo/
linuxdeploy*.AppImage

# Packaging/output junk
usr/
py_only/
py_only.zip

# Random
src_old/
grep
build/
/build/
/out/
/*.pkg.tar.zst
/*.AppImage

# Arch makepkg output
packaging/arch/src/
packaging/arch/pkg/
packaging/arch/*.pkg.tar.zst
packaging/arch/*.tar.gz
